* { 
	box-sizing: border-box
}

body, html {
	padding: 0;
	margin: 0;
	background: #EEE;
}

header { 
	display: inline-block;
	width: 100%;
	background: rgba(0,0,0,0.8);
	top: 0px;
	padding: 0;
	z-index: 2;
}

header .headerWrapper { 
	max-width: 960px; 
	width: 100%;
	margin: 0 auto;
}

header .headerName { 
	float: left;
	padding: 25px 20px;
	color: white;
	font-size: 40px;
	text-decoration: none;
	background: rgba(255,255,255,0.1);
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header .headerName.secondary { 
	background: rgba(255,255,255,0.1)
 url("../../assets/images/michael-rosario.jpeg") top left no-repeat;
	background-size: contain;
	padding: 25px 20px 25px 120px;
	margin-left: -97px;
}


nav ul { 
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

nav li {
	list-style: none;
	display: inline;
	float: left;
	font-size: 20px;
}

.nav .nav-link {
	color: #FFF;
	text-decoration: none;
	padding: 40px;
}
nav li a.active,
nav li a:hover { 
	background: rgba(255,255,255,0.1); 
	color: #FFF; 
 }


#bodyWrapper { 
	width: 100%; 
	max-width: 960px;
	background: #FFF;
	position: relative;
	padding: 30px 30px 20px;
	margin: 30px auto 100px auto;
}

#bodyWrapper p { 
	font-size: 16px;
	line-height: 1.25em;
}

#bodyWrapper .textLarge {
	font-size: 18px;
	line-height: 1.35em;
}

#bodyWrapper .textBold {
	font-weight: bold;
}


#bodyWrapper a { 
	color: #666;
	cursor: pointer;
}

#bodyWrapper a:hover { 
	color: #333;
}

#bodyWrapper h1,
#bodyWrapper h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	padding: 0px 0 0px;
	margin: 20px 0 10px 0;
}

#bodyWrapper h4 { 
	font-size: 23px; 
	margin-bottom: 20px; 
}

#bodyWrapper img { 
	float: left;
	margin: 0 0px 20px 0;
	width: 100%;
}

.clearfix {
	display: block;
	width: 100%;
	clear: both;
}

.socialMedia {
	float: right;
	list-style: none;
}

.socialMedia li {
	list-style: none;
	display: inline;
}

.socialMedia li ins { 
	border: none;
	text-decoration: none;
}

.socialMedia li a { 
	display: inline-block;
	padding: 7px 0px 7px;
	border: 1px solid #666;
	color: #666;
	width: 40px;
	text-align: center;
}
.socialMedia li a:hover { 
	border: 1px solid #000;
	color: #000;
}

.socialMedia .socialMediaLabel {
	font-family: Helvetica, sans-serif;
	padding-right: 10px;
	color: #999;
}


/* PORFOLIO SPECIFIC */
.portFolioItems { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.portFolioItems a {
	text-decoration: none;
	font-weight: bold;
	float: left;
	width: 100%;
	padding: 0 0 30px 0;
	color: #444;
}

.portFolioItems a:hover {
	color: #000;
}

.portFolioItems .cover {
	width: 100%;
	float: left;
	height: 150px;
	overflow: hidden;
	border: 1px solid #111;
	background: #000;
	border-radius: 4px;
	margin: 0 20px 10px 0;
}

.portFolioItems .cover img {
	width: 100%;
	height: auto !important;
}

.portFolioItems li a:hover .cover {
	border: 2px solid #000;
}

/* CONTACT SPECIFIC */

.contactForm label { 
	display: block; 
	clear: both; 
	width: 100%; 
	font-weight: 600;
	margin: 0 0 10px 0;
}

.contactForm textarea,
.contactForm input { 
	display: block; 
	clear: both; 
	width: 100%; 
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #CCC;
	margin: 0 0 20px 0;
}

.contactForm textarea {
	height: 300px;
}

.contactForm input[type=submit] {
	display: inline-block;
	width: auto;
	font-size: 20px;
	cursor: pointer;
	padding: 10px 30px;

}

.contactForm button { 
	background-color: #555;
	border: 1px solid #444;
}

.contactForm button:hover { 
	background-color: #333;
}

#navbar.collapse { display: block; }

footer { 
	padding: 20px 0 10px 0;
	background: rgba(0,0,0,0.8);
	display: block;
	width: 100%;
	float: left;
	position: fixed;
	bottom: 0px;
	text-align: center;
	color: #FFF;
}

.navbar-toggler { display: none; }

@media only screen and (max-width: 980px) {

	.portFolioItems li {
		width: 33.33%;
	}
	.portFolioItems .cover {
		height: 140px;
	}
	.nav .nav-link {
		padding-left: 30px;
		padding-right: 30px;
		
	}

} 

@media only screen and (max-width: 768px) {

	header .headerName { 
		float: left;
		padding: 36px 20px;
		text-align: center;
		font-size: 25px;
	}

	.portFolioItems li {
		width: 50%;
	}
	.portFolioItems .cover {
		height: 190px;
	}
	.nav .nav-link {
		padding-left: 26px;
		padding-right: 26px;
		
	}
	.socialMedia .socialMediaLabel { display: none; }

} 

@media only screen and (max-width: 640px) {

	#bodyWrapper { padding-top: 40px;}
	
	.navbar-toggler { 
		display: block;
		position: absolute; 
		top: 20px; 
		right: 15px;
		outline: none !important;
	}
	.navbar-toggler:focus {
		outline: none !important;
	}

	header .headerName { 
		float: left;
		width: 100%;
		padding: 20px 0px;
		text-align: center;
		font-size: 29px;
	}

	header .headerName.secondary { 
		padding: 10px 0;
		margin-left: 0px;
	}

	#navbar,
	#navbar.collapse { background: rgba(0,0,0,0.5); width: 100%; height: 0px; overflow: hidden; position: fixed; top: 83px; }
	#navbar.collapse.show { height: auto; overflow: show; }

	.nav {
		width: 100%;
		padding: 15px 0;
		text-align: center;
		justify-content: center !important;
		margin: 0 auto;
	}

	.nav .nav-item  {
		list-style: none;
		display: inline-block;
		float: none;
		font-size: 20px;
	}
	.nav .nav-link {
		color: #FFF;
		text-decoration: none;
		padding: 7px;
		float: none;
		background: none;
		padding-bottom: 9px;
	}
	nav li a.active,
	nav li a:hover {
		border-bottom: 2px solid #999;
		background: none;
		padding-bottom: 7px;
	}

	.portFolioItems li {
		width: 100%;
		margin-right: 0;
		padding: 0;
	}
	.portFolioItems .cover {
		height: 260px;
	}

} 

@media only screen and (max-width: 576px) {

	#bodyWrapper H1 { 
		text-align: center;
		float: left; 
		width: 100%;
		display: block;
	}

	.socialMedia {
		margin: 10px auto 20px;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

}



